# vim
*.swp

# encrypted file systems
*.tomb

# encryption keys
*.asc
*.pem

# personal files shall not be included,
# use the Makefile to point between `secrc/` and `pubrc/`
/secrc/
/rc

# xmonad cache
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.o
/xmonad/xmonad-*-linux

# vifm cache
/vifm/vifminfo*

# weechat cache
/weechat/weechat_fifo_*
/weechat/weechat.log
/weechat/logs

